app-menubar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Adjust the z-index value based on your layout needs */
}

.flex {
    display: flex;
}

.inline-card {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.below-cards {
    width: 720px;
    margin-top: 20px;
    /* Adjust the margin as needed */
}