<p-card header="Assign Project" [style]="{ width:cardWidth ,height:cardheight}">
    <ng-template pTemplate="header">
    </ng-template>
    <div class="assign-section">
        <h3>Assign Project to Consultant</h3>

        <select class="form-select " pInputText [(ngModel)]="selectedConsultant">
      <option selected value="Select Consultant">Select Consultant</option>
      <option *ngFor="let consultant of consultants" [ngValue]="consultant">{{ consultant.username }}</option>
    </select>


        <select class="form-select " pInputText [(ngModel)]="selectedProject">
      <option selected value="Select Project">Select Project</option>
      <option *ngFor="let project of projects" [ngValue]="project">{{ project.titre }}</option>
    </select>

        <p-button label="Assign Project" class="ab" (click)="assign()"></p-button>
        <app-table [selectedproject]="selectedProject" [selectedconsultant]="selectedConsultant"> </app-table>

    </div>


</p-card>