<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p-card header="Login" [style]="{width:'360px'}">
        <div class="field">
            <label for="username"> Username</label>
            <input type="text" pInputText formControlName="username" class="w-full" name="username" placeholder="Type your username " />
            <small *ngIf="username.invalid && (username.dirty || username.touched)" class="block p-error">
        <div *ngIf="username.errors?.['required']">Username is required.</div>
      </small>
        </div>
        <div class="field">
            <label for="password"> Password </label>
            <br>
            <!-- <p-password [(ngModel)]="value" [toggleMask]="true" formControlName="Password"></p-password> -->
            <!-- <p-password formControlName="value" [feedback]="false" formControlName="Password"></p-password> -->
            <input type="password" pInputText formControlName="password" class="w-full" name="Password" placeholder="Type your password" />
            <small *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="block p-error">
            <div *ngIf="Password.errors?.['required']">Password is required.</div>
          </small>
        </div>
        <div class="field">
            <div class="input-group mb-3 w-full">
                <label class="input-group-text w-full" for="inputGroupSelect01">Your Role</label>
                <br>
                <select class="form-select w-full" id="inputGroupSelect01" pInputText formControlName="role" name="role">
                <option value="Client">Client</option>
                <option value="Consultant">Consultant</option>
                <option value="Administrator">Administrator</option>
              </select>
            </div>
        </div>
        <p-button label="Sign In" [disabled]="loginForm.invalid" type="submit" (Click)="onSubmit()"></p-button>
        <div class="mt-2">Not a member? <a routerLink="/register">Register</a></div>
        <div class="mt-2">Forgot your password ? <a routerLink="/forgotpassword">Replace it </a></div>
    </p-card>


</form>